{% set jenkins = salt['grains.filter_by']({
    'default': {
        'pkgs': ['jenkins'],
        'debian_java_pkg': 'openjdk-8-jdk',
        'redhat_java_pkg': 'java-1.8.0-openjdk',
        'deb_apt_source': '/etc/apt/sources.list.d/jenkins-ci.list',
        'netcat_pkg': 'netcat-openbsd',
        'user': 'jenkins',
        'group': 'jenkins',
        'nginx_user': 'www-data',
        'nginx_group': 'www-data',
        'home': '/var/lib/jenkins',
        'repo_version': '',
        'jenkins_config_git_repo': 'https://github.com/byteknacker/blank-jenkins-config.git',
        'git_https_user': '',
        'git_https_pass': '',
        'git_ssh_key_uri': '',
        'git_rev': '',
        'git_local_branch': '',
        'port': '80',
        'jenkins_port': 8080,
        'server_name': None,
        'cli_path': '/var/cache/jenkins/jenkins-cli.jar',
        'master_url': 'http://localhost:8080',
        'install_default_plugins': True,
        'plugins': {
            'updates_source': 'http://updates.jenkins-ci.org/update-center.json',
            'installed': [],
            'default': [
                'ace-editor',
                'ant',
                'antisamy-markup-formatter',
                'bouncycastle-api',
                'branch-api',
                'build-timeout',
                'cloudbees-folder',
                'credentials',
                'credentials-binding',
                'durable-task',
                'external-monitor-job',
                'git-client',
                'github-api',
                'git-server',
                'gradle',
                'handlebars',
                'icon-shim',
                'jquery-detached',
                'junit',
                'ldap',
                'mailer',
                'matrix-auth',
                'matrix-project',
                'momentjs',
                'pam-auth',
                'pipeline-build-step',
                'pipeline-graph-analysis',
                'pipeline-input-step',
                'pipeline-rest-api',
                'pipeline-stage-step',
                'pipeline-stage-view',
                'plain-credentials',
                'scm-api',
                'script-security',
                'ssh-credentials',
                'structs',
                'timestamper',
                'token-macro',
                'windows-slaves',
                'workflow-aggregator',
                'workflow-api',
                'workflow-basic-steps',
                'workflow-cps',
                'workflow-cps-global-lib',
                'workflow-durable-task-step',
                'workflow-job',
                'workflow-multibranch',
                'workflow-scm-step',
                'workflow-step-api',
                'workflow-support',
                'ws-cleanup',
            ],
            'disabled': [],
        },
        'jobs': {
            'installed': {},
            'absent': []
        }
    },
}, merge=salt['pillar.get']('jenkins:lookup')) %}
